---
layout: main
---
{% for post in site.posts reversed %}

    <!---all posts with the term attribute and it's the current one-->
    {% if post.term == site.current_term %}
      {% if post.coursetype == site.coursetype %}
          <article class="post">
          {% if post.img %}
              <a class="post-thumbnail" style="background-image: url({{'/assets/img/' | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
          {% else %}
          {% endif %}
          <div class="post-content">
              <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
              {% if post.abcd_title %}
                  <p>{{ post.abcd_title }} / {{ post.repronim_title }}</p>
              {% else %}
                  <p>{{ post.description }}</p>
              {% endif %}
              <span class="post-date">{{post.date | date: '%b %d %Y'}}</span>
          </div>
          </article>
      {% endif %}
    {% endif %}
{% endfor %}
