<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
</head>

<body>
<div class="bigspacer"></div>
<h1 id="project_title">{{ page.title | default: site.github.repository_name }}</h1>
<div class="smallspacer"></div>
<hr />

<div class="bigspacer"></div>

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner"></section>
        <div class="row" align="center">
            {% if page.livestream %}
                <a class="off" href="{{ page.livestream }}">Livestream Link</a>
            {% else %}
                Livestream Link (to be added)
            {% endif %}

            <div class="smallspacer"></div>

            {% if page.qa_doc %}
                <a class="off" href="{{ page.qa_doc }}">Question & Answer Doc</a>
            {% else %}
                Question & Answer Doc (to be added)
            {% endif %}
        </div>
        <div class="row" align="center">
            <h2>
                ABCD Lecture
            </h2>

            <div class="bigspacer"></div>

            {% if page.abcd_video %}
                <div class="media">
                    <iframe width="560" height="315" src="{{ page.abcd_video}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            {% else %}
                <img src="/assets/images/video-placeholder.png" width="560" height="315">
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_readings %}
                <a class="off" href="{{ page.abcd_slides }}">Lecture Slides PDF</a>
            {% else %}
                Slides (to be added)
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_readings %}
                <a class="off" href="{{ page.abcd_readings }}">Readings</a>
            {% else %}
                Readings (to be added)
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_exercises %}
                <a class="off" href="{{ page.abcd_exercises }}">Data Exercises</a>
            {% else %}
                Data Exercises (to be added)
            {% endif %}
        </div>
        <div class="row" align="center">
            <h2>
                ReproNim Lecture
            </h2>

            <div class="bigspacer"></div>

            {% if page.repronim_video %}
                <div class="media">
                    <iframe width="560" height="315" src="{{ page.repronim_video}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            {% else %}
                <img src="/assets/images/video-placeholder.png" width="560" height="315" >
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.repronim_readings %}
                <a class="off" href="{{ page.repronim_slides }}">Lecture Slides PDF</a>
            {% else %}
                Slides (to be added)
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_readings %}
                <a class="off" href="{{ page.abcd_readings }}">Readings</a>
            {% else %}
                Readings (to be added)
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_exercises %}
                <a class="off" href="{{ page.abcd_exercises }}">Data Exercises</a>
            {% else %}
                Data Exercises (to be added)
            {% endif %}
        </div>
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
    </section>
</div>
</body>
</html>
