---
layout: main
---
<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%b %d %Y'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
        <div class="row" align="left">

      <!-- Begin Term conditional Content
        {% if page.term %}
            <div class="smallhead">
                <b>{{page.title}}</b>:: {{page.detailed-description}}
            </div>

            <div class="bigspacer"></div>

        {% else %} -->
          <!-- Begin Q&A conditional Content -->
            <div class="smallhead">
                ABCD-ReproNim Instructor Question & Answer Session: {{page.date | date: '%A %b %d, %Y,'}} at 1pm EST (10am PST)
            </div>

            <div class="bigspacer"></div>

            {% if page.qa_video %}
                <div class="smallhead">
                This week's Instructor Q&A session has ended.
                Please see the bottom of this page for the recording of the session.
                </div>

                <div class="bigspacer"></div>

                <div class="smallhead">
                <b>{{page.title}} Q&A Doc</b>: Click <a class="off" href="{{ page.qa_doc }}">here</a> for answers to the Q&A Doc.
                </div>
            {% else %}
                <div class="smallhead">
                    <b>Observer students</b>: <a class="off" href="http://webcast.fiu.edu">Instructor Q&A Webcast</a>
                </div>
                <div class="smallhead">
                    <b>Enrolled students</b>: please access the instructor Q&A via the Zoom link emailed to you
                </div>

                <div class="bigspacer"></div>

                {% if page.qa_doc %}
                    <div class="smallhead">
                        <b><a class="off" href="{{ page.qa_doc }}">Q&A Doc</a></b>:
                        Enter your questions here for discussion during the instructor Q&A session.
                        This Google Doc will be closed <b>30 minutes</b> before the session starts.
                    </div>
                {% else %}
                    <div class="smallhead subtle">
                        <b>Q&A Doc</b> (to be added)
                    </div>
                {% endif %}
            {% endif %}

            <div class="bigspacer"></div>
            <!-- End Q&A conditional Content -->

            <!-- Begin Exercises conditional Content -->
            {% if page.exercises %}
                <div class="smallhead">
                    <b>Observer students</b>: <a class="off" href="{{ page.exercises }}">Data Exercise</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    <b>Observer students</b>: Data Exercise (to be added)
                </div>
            {% endif %}
            <div class="smallhead">
                <b>Enrolled students</b>: please access the data exercise via <a class="off" href="https://develop.fiu.edu/courses/abcd-repronim-course-reproducible-analyses-of-abcd-data">Canvas</a>
            </div>
        </div>
        <div class="bigspacer"></div>
        <hr />
        <!-- End Exercises conditional Content -->

        <!-- {% endif %} -->
    <!-- End Term conditional Content -->

        {% if page.content.size > 1 %}
            <div class="row" align="left">
                <div class="smallhead">
                    {{ page.content }}
                </div>
                <hr />
            </div>
        {% endif %}

        <!-- Begin ABCD Lecture Content -->
        <div class="row" align="left">
            <h2 align="center">
                ABCD Lecture: {{ page.abcd_title }}
            </h2>

            {% if page.abcd_video %}
                {% for video in page.abcd_video %}
                    <div class="media">
                        <iframe width="560" height="315" src="{{ video }}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                {% endfor %}
            {% else %}
            <img src="{{site.baseurl}}/assets/img/video-placeholder.png" width="560" height="315">
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.abcd_slides %}
                {% for slideset in page.abcd_slides %}
                    <div class="smallhead">
                        <a class="off" href="{{ slideset }}">Lecture Slides PDF</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="smallhead subtle">
                    Slides (to be added)
                </div>
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.abcd_reading_links %}
                <div class="smallhead">
                Readings
                </div>
                {% assign n_readings = page.abcd_reading_links.size | minus: 1 %}
                {% for i in (0..n_readings) %}
                    {% assign reading_link = page.abcd_reading_links[i] %}
                    {% assign reading_name = page.abcd_reading_names[i] %}
                    <div class="item">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-book fa-fw"></i>
                    <a class="off" href="{{ reading_link }}">{{ reading_name }}</a>
                    </div>
                    <div class="smallspacer"></div>
                {% endfor %}
            {% else %}
                <div class="smallhead subtle">
                    Readings (to be added)
                </div>
            {% endif %}
        </div>
        <div class="bigspacer"></div>
        <hr />
        <!-- End ABCD Lecture Content -->

        <!-- Begin ReproNim Lecture Content -->
        <div class="row" align="left">
            <h2 align="center">
                ReproNim Lecture: {{ page.repronim_title }}
            </h2>

            {% if page.repronim_video %}
                {% for video in page.repronim_video %}
                    <div class="media">
                        <iframe width="560" height="315" src="{{ video }}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                {% endfor %}
            {% else %}
            <img src="{{site.baseurl}}/assets/img/video-placeholder.png" width="560" height="315">
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.repronim_slides %}
                {% for slideset in page.repronim_slides %}
                    <div class="smallhead">
                        <a class="off" href="{{ slideset }}">Lecture Slides PDF</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="smallhead subtle">
                    Slides (to be added)
                </div>
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.repronim_reading_links %}
                <div class="smallhead">
                    Readings
                </div>
                {% assign n_readings = page.repronim_reading_links.size | minus: 1 %}
                {% for i in (0..n_readings) %}
                {% assign reading_link = page.repronim_reading_links[i] %}
                {% assign reading_name = page.repronim_reading_names[i] %}
                <div class="item">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-book fa-fw"></i>
                <a class="off" href="{{ reading_link }}">{{ reading_name }}</a>
                </div>
                <div class="smallspacer"></div>
                {% endfor %}
            {% else %}
                <div class="smallhead subtle">
                    Readings (to be added)
                </div>
            {% endif %}
        </div>
        {% if page.qa_video %}
        <div class="bigspacer"></div>
        <hr />
        <!-- End ReproNim Lecture Content -->

        <!-- Begin Q&A Lecture Content -->
        <div class="row" align="left">
            <h2 align="center">
                Instructor Question and Answer Webcast Recording
            </h2>

            <div class="media">
                <iframe width="560" height="315" src="{{ page.qa_video}}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="bigspacer"></div>

            {% if page.qa_doc %}
                <div class="smallhead">
                <b>{{page.title}} Q&A Doc</b>: Click <a class="off" href="{{ page.qa_doc }}">here</a> for answers to the Q&A Doc.
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Q&A Doc transcript (to be added)
                </div>
            {% endif %}

        </div>
        {% endif %}
        <!-- End Q&A Lecture Content -->
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
