---
layout: main
---
<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
        <div class="row" align="left">
            {% if page.livestream %}
                <div class="smallhead">
                    <a class="off" href="{{ page.livestream }}">Livestream Link</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Livestream Link (to be added)
                </div>
            {% endif %}

            <div class="smallspacer"></div>

            {% if page.qa_doc %}
                <div class="smallhead">
                    <a class="off" href="{{ page.qa_doc }}">Question & Answer Doc</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Question & Answer Doc (to be added)
                </div>
            {% endif %}
        </div>
        <hr />
        <div class="row" align="left">
            <h2 align="center">
                ABCD Lecture
            </h2>

            <div class="bigspacer"></div>

            {% if page.abcd_video %}
            <div class="media">
                <iframe width="560" height="315" src="{{ page.abcd_video}}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            {% else %}
            <img src="{{site.baseurl}}/assets/img/video-placeholder.png" width="560" height="315">
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_slides %}
                <div class="smallhead">
                    <i class="fa fa-file-pdf fa-fw"></i>
                    <a class="off" href="{{ page.abcd_slides }}">Lecture Slides PDF</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Slides (to be added)
                </div>
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_reading_links %}
                <div class="smallhead">
                Readings
                </div>
                {% for i in (0..page.abcd_reading_links.size-1) %}
                    {% assign reading_link = page.abcd_reading_links[i] %}
                    {% assign reading_name = page.abcd_reading_names[i] %}
                    <div class="item">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-book fa-fw"></i>
                    <a class="off" href="{{ reading_link }}">{{ reading_name }}</a>
                    </div>
                    <div class="smallspacer"></div>
                {% endfor %}
            {% else %}
                <div class="smallhead subtle">
                    Readings (to be added)
                </div>
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.abcd_exercises %}
                <div class="smallhead">
                    <a class="off" href="{{ page.abcd_exercises }}">Data Exercises</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Data Exercises (to be added)
                </div>
            {% endif %}
        </div>
        <hr />
        <div class="row" align="left">
            <h2 align="center">
                ReproNim Lecture
            </h2>

            <div class="bigspacer"></div>

            {% if page.repronim_video %}
            <div class="media">
                <iframe width="560" height="315" src="{{ page.repronim_video}}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            {% else %}
            <img src="{{site.baseurl}}/assets/img/video-placeholder.png" width="560" height="315">
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.repronim_slides %}
                <div class="smallhead">
                    <a class="off" href="{{ page.repronim_slides }}">Lecture Slides PDF</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Slides (to be added)
                </div>
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.repronim_reading_links %}
                <div class="smallhead">
                    Readings
                </div>
                {% for i in (0..page.repronim_reading_links.size-1) %}
                {% assign reading_link = page.repronim_reading_links[i] %}
                {% assign reading_name = page.repronim_reading_names[i] %}
                <div class="item">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-book fa-fw"></i>
                <a class="off" href="{{ reading_link }}">{{ reading_name }}</a>
                </div>
                <div class="smallspacer"></div>
                {% endfor %}
            {% else %}
                <div class="smallhead subtle">
                    Readings (to be added)
                </div>
            {% endif %}

            <div class="smallspacer"></div>
            {% if page.repronim_exercises %}
                <div class="smallhead">
                    <a class="off" href="{{ page.repronim_exercises }}">Data Exercises</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Data Exercises (to be added)
                </div>
            {% endif %}
        </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
