---
layout: main
---
<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%b %d %Y'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      <div class="row" align="left">

        <!-- Begin Term conditional Content -->
        {% if page.term == site.current_term %}
            <!-- Begin Header Description Content -->
            <div class="smallhead">
                <b>{{page.title}}</b>: {{page.detailed-description}}
            </div>

            <div class="bigspacer"></div>
            <div class="smallhead">
                <b>Help and Resources</b>: If you have questions about this week's material please post them to the <a class="off" href="https://neurostars.org/c/abcd-repronim/232" target="_blank" rel="noopener noreferrer"> ABCD-ReproNim Neurostars</a> or the <a class="off" href="https://join.slack.com/t/abcd-repronim/shared_invite/zt-10cohhxpu-FACA4k5QlMYXmcckClj84g" target="_blank" rel="noopener noreferrer"> ABCD-ReproNim Slack</a>.
            </div>
            <div class="bigspacer"></div>
            <!-- End Header Description Content -->

            <!-- Begin Exercises conditional Content -->
            {% if page.assignment_links %}
                    <div class="smallhead">
                    <b>{{page.title}} Assignments</b>:
                    </div>
                    {% assign n_assignments = page.assignment_links.size | minus: 1 %}
                    {% for i in (0..n_assignments) %}
                        {% assign assignment_link = page.assignment_links[i] %}
                        {% assign assignment_name = page.assignment_names[i] %}
                        <div class="item">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-book fa-fw"></i>
                        <a class="off" href="{{ assignment_link }}" target="_blank" rel="noopener noreferrer">{{ assignment_name }}</a>
                        </div>
                        <div class="smallspacer"></div>
                    {% endfor %}
                {% else %}
                      <div class="smallhead subtle">
                          <b>Assignments</b>: Data Exercise (to be added). Please see the <a class="off" href="https://abcd-repronim.github.io/materials/past-materials/" target="_blank" rel="noopener noreferrer"> 2020 Course Data Exercise</a>.
                      </div>
                {% endif %}
                <!-- End Exercises conditional Content -->

        </div>
        <div class="bigspacer"></div>
        <hr />
            <!-- End Exercises conditional Content -->

        {% else %}
          <!-- Begin Q&A conditional Content -->
            <div class="smallhead">
                ABCD-ReproNim Instructor Question & Answer Session: {{page.date | date: '%A %b %d, %Y,'}} at 1pm EST (10am PST)
            </div>

            <div class="bigspacer"></div>

            {% if page.qa_video %}
                <div class="smallhead">
                This week's Instructor Q&A session has ended.
                Please see the bottom of this page for the recording of the session.
                </div>

                <div class="bigspacer"></div>

                <div class="smallhead">
                <b>{{page.title}} Q&A Doc</b>: Click <a class="off" href="{{ page.qa_doc }}">here</a> for answers to the Q&A Doc.
                </div>
            {% else %}
                <div class="smallhead">
                    <b>Observer students</b>: <a class="off" href="http://webcast.fiu.edu">Instructor Q&A Webcast</a>
                </div>
                <div class="smallhead">
                    <b>Enrolled students</b>: please access the instructor Q&A via the Zoom link emailed to you
                </div>

                <div class="bigspacer"></div>

                {% if page.qa_doc %}
                    <div class="smallhead">
                        <b><a class="off" href="{{ page.qa_doc }}">Q&A Doc</a></b>:
                        Enter your questions here for discussion during the instructor Q&A session.
                        This Google Doc will be closed <b>30 minutes</b> before the session starts.
                    </div>
                {% else %}
                    <div class="smallhead subtle">
                        <b>Q&A Doc</b> (to be added)
                    </div>
                {% endif %}
            {% endif %}

            <div class="bigspacer"></div>
            <!-- End Q&A conditional Content -->

            <!-- Begin Exercises conditional Content -->
            {% if page.exercises %}
                <div class="smallhead">
                    <b>Observer students</b>: <a class="off" href="{{ page.exercises }}">Data Exercise</a>
                </div>
            {% else %}
                <div class="smallhead subtle">
                    <b>Observer students</b>: Data Exercise (to be added)
                </div>
            {% endif %}
            <div class="smallhead">
                <b>Enrolled students</b>: please access the data exercise via <a class="off" href="https://develop.fiu.edu/courses/abcd-repronim-course-reproducible-analyses-of-abcd-data">Canvas</a>
            </div>
        </div>
        <div class="bigspacer"></div>
        <hr />
        <!-- End Exercises conditional Content -->

        {% endif %}
    <!-- End Term conditional Content -->

        {% if page.content.size > 1 %}
            <div class="row" align="left">
                <div class="smallhead">
                    {{ page.content }}
                </div>
                <hr />
            </div>
        {% endif %}

        <!-- Begin ABCD Lecture Content -->
        {% if page.abcd_title %}
        <div class="row" align="left">
            <h2 align="center">
                ABCD Lecture: {{ page.abcd_title }}
            </h2>
        {% else %}
        <div class="row" align="left">
            <h2 align="center">
                AI/ML Lecture: {{ page.A_title }}
            </h2>
        {% endif %}

            {% if page.abcd_video %}
                {% for video in page.abcd_video %}
                    <div class="media">
                        <iframe width="560" height="315" src="{{ video }}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                {% endfor %}
            {% else %}
                {% if page.A_video %}
                    {% for video in page.A_video %}
                        <div class="media">
                            <iframe width="560" height="315" src="{{ video }}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                {% else %}
                    <img src="{{site.baseurl}}/assets/img/video-placeholder.png" width="560" height="315">
                {% endif %}
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.abcd_slides %}
                {% for slideset in page.abcd_slides %}
                    <div class="smallhead">
                        <a class="off" href="{{ slideset }}" target="_blank" rel="noopener noreferrer">Lecture Slides PDF</a>
                    </div>
                {% endfor %}
            {% else %}
                {% if page.A_slides %}
                    {% for slideset in page.A_slides %}
                        <div class="smallhead">
                            <a class="off" href="{{ slideset }}" target="_blank" rel="noopener noreferrer">Lecture Slides PDF</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="smallhead subtle">
                        Slides (to be added)
                    </div>
                {% endif %}
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.abcd_reading_links %}
                <div class="smallhead">
                Readings
                </div>
                {% assign n_readings = page.abcd_reading_links.size | minus: 1 %}
                {% for i in (0..n_readings) %}
                    {% assign reading_link = page.abcd_reading_links[i] %}
                    {% assign reading_name = page.abcd_reading_names[i] %}
                    <div class="item">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-book fa-fw"></i>
                    <a class="off" href="{{ reading_link }}" target="_blank" rel="noopener noreferrer">{{ reading_name }}</a>
                    </div>
                    <div class="smallspacer"></div>
                {% endfor %}
            {% else %}
                {% if page.A_reading_links %}
                    <div class="smallhead">
                    Readings
                    </div>
                    {% assign n_readings = page.A_reading_links.size | minus: 1 %}
                    {% for i in (0..n_readings) %}
                        {% assign reading_link = page.A_reading_links[i] %}
                        {% assign reading_name = page.A_reading_names[i] %}
                        <div class="item">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-book fa-fw"></i>
                        <a class="off" href="{{ reading_link }}" target="_blank" rel="noopener noreferrer">{{ reading_name }}</a>
                        </div>
                        <div class="smallspacer"></div>
                    {% endfor %}
                {% else %}
                    <div class="smallhead subtle">
                        Readings (to be added)
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="bigspacer"></div>
        <hr />
        <!-- End ABCD Lecture Content -->

        <!-- Begin ReproNim Lecture Content -->
        {% if page.abcd_title %}
        <div class="row" align="left">
            <h2 align="center">
                ReproNim Lecture: {{ page.repronim_title }}
            </h2>
        {% else %}
        <div class="row" align="left">
            <h2 align="center">
                AI/ML Lecture: {{ page.B_title }}
            </h2>
        {% endif %}


            {% if page.repronim_video %}
                {% for video in page.repronim_video %}
                    <div class="media">
                        <iframe width="560" height="315" src="{{ video }}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                {% endfor %}
            {% else %}
                {% if page.B_video %}
                    {% for video in page.B_video %}
                        <div class="media">
                            <iframe width="560" height="315" src="{{ video }}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                {% else %}
                    <img src="{{site.baseurl}}/assets/img/video-placeholder.png" width="560" height="315">
                {% endif %}
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.repronim_slides %}
                {% for slideset in page.repronim_slides %}
                    <div class="smallhead">
                        <a class="off" href="{{ slideset }}" target="_blank" rel="noopener noreferrer">Lecture Slides PDF</a>
                    </div>
                {% endfor %}
            {% else %}
                {% if page.B_slides %}
                    {% for slideset in page.B_slides %}
                        <div class="smallhead">
                            <a class="off" href="{{ slideset }}" target="_blank" rel="noopener noreferrer">Lecture Slides PDF</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="smallhead subtle">
                        Slides (to be added)
                    </div>
                {% endif %}
            {% endif %}

            <div class="bigspacer"></div>

            {% if page.repronim_reading_links %}
                <div class="smallhead">
                    Readings
                </div>
                {% assign n_readings = page.repronim_reading_links.size | minus: 1 %}
                {% for i in (0..n_readings) %}
                {% assign reading_link = page.repronim_reading_links[i] %}
                {% assign reading_name = page.repronim_reading_names[i] %}
                <div class="item">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-book fa-fw"></i>
                <a class="off" href="{{ reading_link }}" target="_blank" rel="noopener noreferrer">{{ reading_name }}</a>
                </div>
                <div class="smallspacer"></div>
                {% endfor %}
            {% else %}
                {% if page.B_reading_links %}
                    <div class="smallhead">
                    Readings
                    </div>
                    {% assign n_readings = page.B_reading_links.size | minus: 1 %}
                    {% for i in (0..n_readings) %}
                        {% assign reading_link = page.B_reading_links[i] %}
                        {% assign reading_name = page.B_reading_names[i] %}
                        <div class="item">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-book fa-fw"></i>
                        <a class="off" href="{{ reading_link }}" target="_blank" rel="noopener noreferrer">{{ reading_name }}</a>
                        </div>
                        <div class="smallspacer"></div>
                    {% endfor %}
                {% else %}
                    <div class="smallhead subtle">
                        Readings (to be added)
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="bigspacer"></div>
        <hr />
        <!-- End ReproNim Lecture Content -->

        <!-- Begin Q&A Lecture Content -->
        <div class="row" align="left">
            <h2 align="center">
                Instructor Question and Answer Webcast Recording
            </h2>

            <h4 align="center">
                Recorded in 2020. Note that course-related announcement made during this recording may be out of date. Please see the top of this page for 2022 Course announcements.
            </h4>

            <div class="media">
                <iframe width="560" height="315" src="{{ page.qa_video}}?cc_load_policy=1&cc_lang_pref=en" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="bigspacer"></div>

            {% if page.qa_doc %}
                <div class="smallhead">
                <b>{{page.title}} Q&A Doc</b>: Click <a class="off" href="{{ page.qa_doc }}" target="_blank" rel="noopener noreferrer">here</a> for written answers to the Q&A Doc.
                </div>
            {% else %}
                <div class="smallhead subtle">
                    Q&A Doc transcript (to be added)
                </div>
            {% endif %}

        </div>
        {% endif %}

        </div>
        <div class="bigspacer"></div>
        <hr />

        <!-- Begin Links and Platforms Content -->
        <div class="smallhead">
            <b>Important Links and Platforms</b>:

            <ul>
            <li>Please take a moment to read our <a class="off" href="https://docs.google.com/document/d/1XQf9aEggUlwIlft8mVGC1mdMjiJVWF4RDnnVGWKvfo8/edit?usp=sharing" target="_blank" rel="noopener noreferrer">ABCD-ReproNim Code of Conduct</a>.</li>
            <li>Add us to your address book at <a href="mailto:info@abcd-repronim.org?subject=ABCD-ReproNim">info@abcd-repronim.org</a>.</li>
            <li>Follow us on <a class="off" href="https://twitter.com/ABCD_ReproNim" target="_blank" rel="noopener noreferrer">Twitter</a>.</li>
            <li>Subscribe to the <a class="off" href="https://calendar.google.com/calendar?cid=YWJjZHJlcHJvbmltQGdtYWlsLmNvbQ" target="_blank" rel="noopener noreferrer">ABCD-ReproNim Google calendar</a>.</li>
            <li>Join the <a class="off" href="https://join.slack.com/t/abcd-repronim/shared_invite/zt-10cohhxpu-FACA4k5QlMYXmcckClj84g" target="_blank" rel="noopener noreferrer">ABCD-ReproNim Course Slack</a>.</li>
            <li>Create a <a class="off" href="https://neurostars.org/" target="_blank" rel="noopener noreferrer">NeuroStars</a> account and bookmark the <a class="off" href="https://neurostars.org/c/abcd-repronim/232" target="_blank" rel="noopener noreferrer">ABCD-ReproNim Course NeuroStars category</a>.</li>
            <li>Sign up for a <a class="off" href="https://github.com/join" target="_blank" rel="noopener noreferrer">GitHub account</a> and follow the <a class="off" href="https://github.com/ABCD-ReproNim" target="_blank" rel="noopener noreferrer">Course GitHub</a>.</li>
            <li><a class="off" href="https://docs.google.com/forms/d/e/1FAIpQLSefrxRzdjFak_BoxTL5bE-TnsJdg9KbGvFdOwuW7zliZ96z7g/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer">Request access</a> to the <a class="off" href="https://abcd.repronim.org/" target="_blank" rel="noopener noreferrer">ABCD-ReproNim JupyterHub</a>, a cloud-based scientific computing platform that is fully accessible through an internet browser. More info <a class="off" href="https://docs.google.com/document/d/1kXvK2c_N9TkIAYn21WfzlCPtJvxhjW13Ftf0DwnAnlg/edit?usp=sharing" target="_blank" rel="noopener noreferrer">here</a>.</li>
            <li>Hangout in the <a class="off" href="https://gather.town/app/vC4xzIIrfbFvptPB/abcd-repronim" target="_blank" rel="noopener noreferrer">ABCD-ReproNim Gather.Town</a>. The password to join is "Welcome2022Students".</li>
            <li>Check out our <a class="off" href="https://docs.google.com/document/d/1OybUpkyHhlmKecQ4ERLM71s86t2D-OLnV4TrRxtNZ5U/edit?usp=sharing" target="_blank" rel="noopener noreferrer">ABCD-ReproNim Course FAQ</a>.</li>
            </ul>

        </div>
        <div class="bigspacer"></div>
        <!-- End Links and Platforms Content -->
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
